<div class="container">
    <div class="row">
        <main class="col-md-14">

            <!-- Start your code here -->
            
            <h1>Greetings!! This is the About Page</h1>
            <h2>About Me</h2>
            <p>
                Allow me to introduce myself: Hi! I'm Regan Basnet. I just completed my Bachelors in Cybersecurity and joined Seneca College for my further studies.
            </p>
            
            
            <!-- End your code here -->

        </main>
    </div>
</div>